bandit scan analysis

## Long story short

When running https://github.com/PyCQA/bandit on aiohttp @ 373f512d7d69296d48afddd93771abdec809eea6

```console
$ bandit -r . 2>&1 | grep Issue | sort | uniq
>> Issue: [B101:assert_used] Use of assert detected. [The enclosed code will be removed when compiling to optimised byte code.](https://docs.python.org/3/reference/simple_stmts.html#the-assert-statement)
>> Issue: [B104:hardcoded_bind_all_interfaces] Possible binding to all interfaces.
>> Issue: [B107:hardcoded_password_default] Possible hardcoded password: ''
>> Issue: [B301:blacklist] Pickle and modules that wrap it can be unsafe when used to deserialize untrusted data, possible security issue.
>> Issue: [B303:blacklist] Use of insecure MD2, MD4, MD5, or SHA1 hash function.
>> Issue: [B403:blacklist] Consider possible security implications associated with pickle module.
```

## Expected behaviour

Bandit scan shows no issues with assert

## Actual behaviour

Here's my interpretation of those results

- `B101:assert_used`  might be an issues, could replace all usage of assert with an explict function call which will check and raise if the bool expression is false, thoughts?
- `B104:hardcoded_bind_all_interfaces` Intentional behavior, if not host is given, bind to `0.0.0.0` (all interfaces)
- `B107:hardcoded_password_default` False positive in basic auth decoding
- `B301/B403:blacklist` This usage of `pickle` seems fine as far as I can tell
- `B303:blacklist`  RFC 6455 Section 1.3 specifies the use of SHA1, intentional

So the only `B101:assert_used` seems it might possibly cause issues. Would it make sense to replace all usages of assert with a function call which checks and raises an AssertionError if the boolean expression is false, thoughts?

## Steps to reproduce

```console
$ pip install -U bandit
$ git clone https://github.com/aio-libs/aiohttp
$ cd aiohttp/aiohttp
$ git checkout 373f512d7d69296d48afddd93771abdec809eea6
$ bandit -r .
```

My 2c: "optimised" Python bytecode is bogus, let the `assert` stay :)

All mentioned `bandit` reports are false positives.
`aiohttp` is not committed to pass `bandit` check (at least until someone provide a PR that adds a check to CI and makes the build green).
I would say that `pylint` generates a lot of false positives as well, we don't care.
