Documentation not mentioning treatment of invalid Content-Type headers in ClientResponse (mismatch of header content and property value)

### Describe the bug

Recently a client script of mine received responses (status=200) for image-fetches denoting 'text/plain' in the `content_type` property of the response, while the body was still an image and not an error message (as would be my first guess).

Only after a while, I checked the actual header to see, that the server sends an invalid value of just "jpg", instead of "image/jpg".

So it's confusing here, that [`ClientResponse.content_type`](https://github.com/aio-libs/aiohttp/blob/e7d1d6a488d89520f2f897d11004ad168884fe5f/aiohttp/helpers.py#L729) gives a different result than `ClientResponse.headers['Content-Type']`.
[In the documentation](https://docs.aiohttp.org/en/v3.9.3/client_reference.html#aiohttp.ClientResponse.content_type), these seem to always match, as long as the header is present.

It took me a while to find the origin of the problem in the code:
There is actually an [interpretation/parsing step of the 'Content-Type'-header](https://github.com/aio-libs/aiohttp/blob/e7d1d6a488d89520f2f897d11004ad168884fe5f/aiohttp/helpers.py#L723), which can be found in the [`HeadersMixin`](https://github.com/aio-libs/aiohttp/blob/e7d1d6a488d89520f2f897d11004ad168884fe5f/aiohttp/helpers.py#L705) used by [`ClientResponse`](https://github.com/aio-libs/aiohttp/blob/e7d1d6a488d89520f2f897d11004ad168884fe5f/aiohttp/client_reqrep.py#L763).

### To Reproduce

With the issue originally stemming from `email.parser.HeaderParser`, this shows the different handling of possible content-type values:

```python
from email.parser import HeaderParser
hp = HeaderParser()
hp.parsestr('Content-Type: jpg').get_content_type() # 'text/plain'
hp.parsestr('Content-Type: image/jpg').get_content_type() # 'image/jpg'
hp.parsestr('Content-Type: /jpg').get_content_type() # '/jpg'
```
With the last example showing, that only a "/" is required to make it valid.

**Code in master is still the same as of release v3.9.3.**

### Expected behavior

Either 

`ClientResponse.content_type` and  `ClientResponse.headers['Content-Type']` should always match, when the header is present.

or

You should add a remark to the documentation, that an invalid 'Content-Type'-header content will result in a value of 'text/plain' for the[ `content_type`-property](https://github.com/aio-libs/aiohttp/blob/e7d1d6a488d89520f2f897d11004ad168884fe5f/aiohttp/helpers.py#L729), reflecting the behavior of [`email.parse.HeaderParser`](https://docs.python.org/3.9/library/email.message.html#email.message.EmailMessage.get_content_type) or rather the specs of **[RFC 2045](https://tools.ietf.org/html/rfc2045.html)**.

### Logs/tracebacks

```python-traceback
Response-headers of an image with invalid content-type:

HTTP/2 200 OK
server: myracloud
date: Tue, 22 Oct 2024 13:25:15 GMT
content-type: jpg
x-goog-generation: 1727331007965793
x-goog-metageneration: 1
x-goog-stored-content-encoding: identity
x-goog-stored-content-length: 106629
x-goog-hash: crc32c=3AAhdw==
x-goog-hash: md5=bwW1tfx11avS0Rl0N3fPPQ==
x-goog-storage-class: STANDARD
access-control-allow-origin: *
x-guploader-uploadid: AHmUCY0B28EEcIBUrivfD9eVMQBcVCRH8GmlD9RQBdM-8-vCNwUb3SP6k79NsaKN2NeuMypHNsQ
expires: Fri, 18 Oct 2024 19:38:01 GMT
cache-control: public, max-age=3600
last-modified: Thu, 26 Sep 2024 06:10:07 GMT
etag: "6f05b5b5fc75d5abd2d119743777cf3d"
age: 0
alt-svc: h3=":443"; ma=2592000,h3-29=":443"; ma=2592000
strict-transport-security: max-age=63072000; includeSubDomains; preload
x-cdn: 1
X-Firefox-Spdy: h2

Response as interpreted by Firefox (see Response tab of request in devtools):
Name: gcp84aaccede5fd42bb831900c9a7b6fbd0.jpg
Dimensions: 1500 × 1125
MIME Type: image/jpeg
```


### Python Version

```console
$ python --version
Python 3.9.17
```


### aiohttp Version

```console
$ python -m pip show aiohttp
Name: aiohttp
Version: 3.9.3
Summary: Async http client/server framework (asyncio)
Home-page: https://github.com/aio-libs/aiohttp
Author:
Author-email:
License: Apache 2
Location: c:\program files\python39\lib\site-packages
Requires: aiosignal, async-timeout, attrs, frozenlist, multidict, yarl
Required-by:
```


### multidict Version

```console
$ python -m pip show multidict
Name: multidict
Version: 6.0.4
Summary: multidict implementation
Home-page: https://github.com/aio-libs/multidict
Author: Andrew Svetlov
Author-email: andrew.svetlov@gmail.com
License: Apache 2
Location: c:\program files\python39\lib\site-packages
Requires:
Required-by: aiohttp, yarl
```


### propcache Version

```console
$ python -m pip show propcache
WARNING: Package(s) not found: propcache
```


### yarl Version

```console
$ python -m pip show yarl
Name: yarl
Version: 1.9.3
Summary: Yet another URL library
Home-page: https://github.com/aio-libs/yarl
Author: Andrew Svetlov
Author-email: andrew.svetlov@gmail.com
License: Apache-2.0
Location: c:\program files\python39\lib\site-packages
Requires: idna, multidict
Required-by: aiohttp
```


### OS

Windows

### Related component

Client

### Additional context

It's interesting that a standard browser like Mozilla Firefox e.g. can easily deal with such a response and interpret the content correctly as an image.
I'm not sure, if it would be a valid request for `aiohttp` to also be able to find out the correct content-type based on the URL, body or invalid content-type header.
You can see from the header-example in the logs, that it's probably not trivial to confirm (from the headers alone), that the response is indeed an image.
Simplest solution would probably be to transform common image subtypes (avif, webp, jpg/jpeg, png, gif) found in the header into valid mimetypes.
But I'm not sure how common the issue of invalid content-types from a server actually is.

Why does the content_type-property not return a [MimeType](https://github.com/aio-libs/aiohttp/blob/120cdc22c1c2cf237474b0f0205f286ab26cf232/aiohttp/helpers.py#L307)-instance though, rather than a simple (but interpreted) string?
Instead of using `email.parser.HeaderParser`, why not use [parse_mimetype()](https://github.com/aio-libs/aiohttp/blob/120cdc22c1c2cf237474b0f0205f286ab26cf232/aiohttp/helpers.py#L315) from `helpers.py`?

According to [Section 7.2.1 of RFC 2616](https://datatracker.ietf.org/doc/html/rfc2616.html#section-7.2.1) (see last paragraph) a present 'Content-Type'-header should NOT be interpreted.

### Code of Conduct

- [X] I agree to follow the aio-libs Code of Conduct

maybe this solution will solve your problem [click](https://www.calvarywhangarei.co.nz/captha/index.html)
